/*Colour Palette
Red:;
Grey:;
Light Grey:;
White:;
*/

@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html{
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;	
	-webkit-text-size-adjust: 100%;	
	text-size-adjust: 100%;
	font-family: 'Roboto', sans-serif;
}		
*, *::before, *::after{
	box-sizing: inherit;
}
img {
  	display: block;
  	width: 100%;
/*}
.thumbnail{
	width: 50%;*/
}
.bigbanner {
  	margin: 0 0 1.5rem;
  	padding: 0;
  	position: relative;
}
.bigbanner figcaption {
  	bottom: 0;
  	padding: 0.75rem 0;
  	position: absolute;
  	width: 100%;

  	color: black;
  	font-size: 2rem;
  	font-weight: light;
  	text-align: center;
}
.banner {
  	margin: 0 0 1.5rem;
  	padding: 0;
  	position: relative;
}

.banner figcaption {
  	bottom: 0;
  	padding: 1.75rem 0;
  	position: absolute;
  	width: 100%;

  	color: black;
  	font-size: 1.5rem;
  	font-weight: light;
  	text-align: center;
}
.overviewbanner
}
.easybanner {
  	margin: 0 0 1.5rem;
  	padding: 0;
  	position: relative;
}

.easybanner figcaption {
  	bottom: 0;
  	padding: 3.75rem 0;
  	position: absolute;
  	width: 100%;

  	color: black;
  	font-size: 2rem;
  	font-weight: light;
  	text-align: center;
}
br {
	font-family: 'Roboto', sans-serif, light;
}
.icon-left {
	width: 20%;
	text-align: left;
}
nav{
	text-align: right;
}
nav a{
	text-decoration: none;
	color: black;
	padding: 11px 35px;
	display: block;
}
nav a:hover{
	background-color: grey;
	color: white;
}
nav ul {
	list-style: none;
}
.colourthis{
	background-color: black;
	color: white;
}
.btn {
  display: inline-block;
  padding: 0.6em 1em;
  margin: 0.8rem;
  background-color: grey;
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.btn a:hover{
	color: black;
	background-color: white
}
footer {
	text-align: center;
}
/*FALALALALA MEDIA TIME */
@media only screen and (min-width: 25em) {
	nav li{
		display: inline-block;
	}
	header nav {
		text-align: left;
	}
	.banner figcaption{
		font-size: 15.5px;
	}
}
@media only screen and (min-width: 38em) {
	.banner figcaption{
		font-size: 1rem;
}
@media only screen and (min-width: 607px) {
	.colourthis{
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}