/*Colour Palette
Navy Blue: #006192;
Teal: #9bd7d8;
Wallflower blue: #9cbdd8;
*/

html{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #006192;
}
img {
  	display: block;
  	width: 100%;
}
.smallimg {
	padding-top: 1em;
	width: 50%;
	display: block;
	text-align: center;
	margin: 0 auto;
}
.tourimg{
	width: 70%;
	display: block;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 1.5em;
	margin-top: 0;
}
.tourp{
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
}
.bigbanner{
	background-image: url(../images/photo-1.jpg);
	background-size: cover;

	background-repeat: no-repeat;
	text-align: center;
	color: black;
	position: relative;
	padding: 3.5em;
}
.banner {
	padding-top: 6.5em;
	padding-bottom: 3.5em;
  	margin: 0 auto;
  	position: relative;
	color: #006192;
	background-image: url(../images/photo-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.banner p {
  	bottom: 0;
  	position: absolute;
  	width: 100%;
  	font-weight: 400;
  	text-align: center;
	font-size: 20px;
	margin-bottom: 15px;
}
.overviewbanner{
	background-image: url(../images/photo-4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: black;
	position: relative;
	padding: 3.5em;
}
.portrait{
	width: 50%;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.thatswhattheysaid{
	padding: 1em;
	font-weight: 400;
}
.pricingbanner{
	background-image: url(../images/photo-7.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: black;
	position: relative;
	padding: 3.5em;
}
.loginbanner{
	background-image: url(../images/photo-8.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: black;
	position: relative;
	padding: 3.5em;
}
.signupbanner{
	background-image: url(../images/images-banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: black;
	position: relative;
	padding: 3.5em;
}
.h1other{
	text-align: center;
	font-size: 26px;
	margin-top: 2rem;
	color: white;
}
.intro{
	text-align: center;
	font-size: 26.5px;
	margin-top: 2rem;
	color: #006192;
}
.btn {
	display: inline-block;
	padding: 0.6em 1em;
	margin: 0.8rem;
	background-color: #006192;
	color: white;
	font-size: 14px;
	text-decoration: none;
}
.btn a:hover{
	color: black;
	background-color: white
}
.br {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	color: #006192;
}
.icon {
	width: 50%;
	margin-top: 21px;
}
header {
	width: 100%;
}
nav {
	text-align: center;
}
nav a{
	text-decoration: none;
	color: white;
	padding: 11px 35px;
	display: block;
}
nav a:hover{
	background-color: #9bd7d8;
	color: #006192;
}
nav ul {
	list-style: none;
}
.optionsp{
	color: #006192;	
}
.faq h3{
	margin: 0 auto;
  	padding: 1em;
  	font-size: 20px;
	position: relative;
}
.faq p{
	margin: 0 auto;
  	padding: 1em;
	position: relative;
}
.colourthis{
	background-color: #006192;
	color: white;
    padding: 1.3em 20px 0.3em;
    padding-bottom: 1px;
    margin-bottom: 1em;
}
.colourthisfoot{
	background-color: #006192;
}
.colourthistour{
	background-color: #006192;
	color: white;
    padding-top: 1.5em;
    margin-bottom: 1em;
    text-align: center;
}
.colourthisheader{
	background-color: #006192;
    text-align: center;
}
.3choices img{
	width: 50%;
}
.colourthx{
	background-color: #006192;
}
.colourthx h1{
	color: white;
	text-align: center;
	font-weight: 300;
	font-size: 100px;
	padding-top: 3em;
}
.colourthx p{
	color: white;
	text-align: center;
	font-weight: 300;
	font-size: 16px;
	padding-top: 1em;
	padding-bottom: 2em;
}
.colourthx footer{
	background-color: white;
}
.copyrightthx{
	font-size: 12px;
	color: #006192;
	padding-top: 7em;
}
.btnright {
	display: inline-block;
	padding: 0.6em 1em;
	margin: 0.8rem;
	background-color: #9bd7d8;
	color: white;
	text-align: right;
	font-size: 18px;
	text-decoration: none;
}
.btnright a:hover{
	color: black;
	background-color: white
}
.thumbnail{
	width: 50%;
	text-align: center;
	margin: 0 auto;
}
.back2topbtn {
	display: inline-block;
	padding: 0.6em 1em;
	margin: 0.8rem;
	background-color: #006192;
	color: white;
	font-size: 18px;
	text-decoration: none;
}
.back2topbtnbtn a:hover{
	color: black;
	background-color: white;
}
.3choices h2{
	margin: 0 auto;
  	font-size: 20px;
	position: relative;
}
.btnright a:hover{
	color: black;
	background-color: white

}/**/
.whatruwaiting4{
	background-image: url(../images/photo-3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	color: #006192;
	padding-top: 3em;
	padding-bottom: 2em;
}
.whatruwaiting4btn {
	display: inline-block;
	padding: 0.6em 1em;
	margin: 0.8rem;
	background-color: #006192;
	color: white;
	text-align: center;
	font-size: 18px;
	text-decoration: none;
}
.whatruwaiting4btn:hover{
	color: black;
	background-color: white;
}
.whatruwaiting4, .description{
	margin: 13px 9px 13px 0.5rem;
	text-align: center;
}/*
.subscripcurious{
	background-image: url(../images/photo-3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	color: #006192;
	padding-top: 3em;
	padding-bottom: 2em;
}
.subscripcuriousbtn {
	display: inline-block;
	padding: 0.6em 1em;
	margin: 0.8rem;
	background-color: #006192;
	color: white;
	text-align: center;
	font-size: 18px;
	text-decoration: none;
}
.subscripcuriousbtn a:hover{
	color: black;
	background-color: white;
}
.subscripcurious, .description{
	margin: 13px 9px 13px 0.5rem;
	text-align: center;
}/**/

.footericon{
	width: 40%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.soc-icon{
	width: 9%;
	margin-top: 1rem;
	margin-bottom: 2rem;
	display: inline-block;
}
footer {
	text-align: center;
	padding-bottom: 1px;
}
footer p{
	font-size: 46px;
}
.copyright{
	font-size: 12px;
	color: #9bd7d8;

}/*Accessibility*/
a:focus {
	outline: 1px solid;
}
.skip-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.skip-links a {
	position: absolute;

}/*Forms*/
legend{
	font-weight: 400;

}
.accountinfo{
	padding-top: 3rem;
}
label {
	display: block;
	cursor: pointer;
}
input + label {
	display: inline;
	padding: .5em;
}
input {
	border: 2px 006192;
	background-color: white;
	font-size: 12px;
	padding: 5px;
	width: 100%;
}

button {
	font-size: 12px;
	padding: 10px;
	border-radius: 10px;
	border: 1px #006192;
	background-colour: #006192;
}
/*FALALALALA MEDIA TIME */

@media only screen and (min-width: 27em) {/*435px*/
	.banner figcaption { 
		padding: 1.75rem;
		margin: 0 auto;
	}
	.easybanner figcaption {
		margin: 1px auto;
  		padding: 2.5rem;
   		font-size: 2rem;
	}
}
@media only screen and (min-width: 27.25em){/*436px*/
	.banner figcaption { 
	  	padding: 1.5rem;
	  	margin: 0 auto;
		font-size: 18.5px;
	}
	.easybanner figcaption {
		padding: 1.5rem;
		margin: 7px auto;
		font-size: 30px;
	}
	header nav {
		text-align: center;
	}
}
@media only screen and (min-width: 34.25em){/*548px*/
	.icon{
		text-align: center;
		width: 50%;
	}
	nav {
		text-align: center;
	}
	nav li {
		display: inline-block;
	}
	.3choices h2{
		font-size: 30px;	
	}
	.h1other{
		font-size: 40px;
	}
	.intro{
		font-size: 43.5px;
	}
	.br{
		font-size: 18px;
	}
	.btn {
		font-size: 17px;
	}
	.tourimg{
		width: 50%;
		display: inline-block;
	}
	.tourp{
		text-align: left;
		display: inline-block;
}
@media only screen and (min-width: 34.5em) {/*552px*/
	.banner figcaption{
		font-size: 22px;
	}
}
@media only screen and (min-width: 38em) {/*608px*/
	.smallimg {
		padding-top: 3.5em;
		width: 90%;
		margin-left: 0 auto;
		margin-right: 0 auto;
		display: block;
	}
	.tourimg{
		width: 50%;
		display: block;
		text-align: left;
	}
	.icon{
		text-align: left;
		margin: 39px 20px 0;
		width: 64%;
	}
	nav {
		text-align: right;
		margin-top: 15px 
	}
	nav li {
		display: inline-block;
	}		
	.colourthis{
	    padding: 1.3em 20px 0.3em;
	}
	.banner figcaption{
		font-size: 27px;
	}
	.h1other{
		font-size: 46px;
	}
	.intro{
		font-size: 38.5px;
	}
	.br{
		font-size: 23px;
	}
}
@media only screen and (min-width: 38.0625em){/*609px*/
	.3choices h2{
		font-size: 19px;
	}
	.colourthis{
		padding: 0 10px 0 10px;
	}
}
@media only screen and (min-width: 43.125em) {/*690px*/
	nav {
		text-align: right;
		margin-top: 20px 
	}
	nav li {
		display: inline-block;
	}		
	nav a{
		margin: 0 30px 0 30px;
	}
}
@media only screen and (min-width: 48.4375em) {/*775px*/
	.whatruwaiting4btn  {
		text-align: right;
	}
	.whatruwaiting4 h2  {
		text-align: left;
	}
	.optionsp{
		text-align: left;
	}
	.faq p {
		text-align: left;
	}
	.banner figcaption{
		font-size: 30px;
	}
}
@media only screen and (min-width: 53.4375em) {/*855px*/
	.banner figcaption{
		padding-top: 1em;
		padding-bottom: 3em;
		margin-top: 1em;
	}
}
@media only screen and (min-width: 60em) {/*960px*/
	.description{
		margin-left: 0 auto;
		text-align: left;
	}
	.whatruwaiting4 h2  {
		text-align: left;
		margin-left: 5.5em;
	}
	.banner figcaption{
		padding: 2.4em;
	}
	.tourimg{
		width: 30%
	}
}
@media only screen and (min-width:65em){
	.h1other{
		font-size: 56px;
	}
	.intro{
		font-size: 40px;
	}
	.br{
		font-size: 23px;
	}
	.btn {
		font-size: 19px;
	}
}
@media only screen and (min-width: 75em){/*1200px*/
	nav {
		margin-top: 30px;
	}
	.banner figcaption{
		padding: 3em;
	}
}
@media only screen and (min-width: 87.5em){/*1400px*/
	.smallimg {
		width: 31%;
		padding-top: 3.5rem;
		text-align: right;
	}
	.description {
		margin-top: 2rem; 
	}
	.banner figcaption{
		padding: 5em;
	}
	.tourimg{
		width: 20%
	}
}
@media only screen and (min-width: 100em){/*1600px*/
	nav {
		margin-top: 50px;
	}
	.smallimg {
		width: 31%;
		padding-top: 3.5rem;
		text-align: right;
	}
	.description {
		margin-top: 2rem; 
	}
}
@media only screen and (min-width: 112.5em){/*1800px*/
	nav {
		margin-top: 65px;
	}
}