/*Colour Palette
Red:;
Grey:;
Light Grey:;
White:;
*/

@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html{
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;	
	-webkit-text-size-adjust: 100%;	
	text-size-adjust: 100%;
	font-family: 'Roboto', sans-serif;
}		
*, *::before, *::after{
	box-sizing: inherit;
}
img {
  	display: block;
  	width: 100%;
}
.smallimg {
	padding-top: 3.5em;
	width: 89%;
	display: block;
}
.bigbanner{
	background-image: url(../images/images-banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: black;
	position: relative;
	padding: 3.5em;
}
.banner {
  	margin: 15px 0 1.5rem;
  	padding: 0;
  	position: relative;
}

.banner figcaption {
  	bottom: 0;
  	padding: 1.75rem;
  	position: absolute;
  	width: 100%;
  	margin: 0 auto;

  	color: black;
  	font-size: 16px;
  	font-weight: light;
  	text-align: center;
}
.overviewbanner{
	background-image: url(../images/images-banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: black;
	position: relative;
	padding: 3.5em;
}
.pricingbanner{
	background-image: url(../images/images-banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: black;
	position: relative;
	padding: 3.5em;
}
.signupbanner{
	background-image: url(../images/images-banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: black;
	position: relative;
	padding: 3.5em;
}
.easybanner {
  	margin: 15px 0 1.5rem;
  	padding: 0;
  	position: relative;
}

.easybanner figcaption {
  	bottom: 0;
  	padding: 2.5rem;
  	position: absolute;
  	width: 100%;

  	color: black;
  	font-size: 2rem;
  	font-weight: light;
  	text-align: center;
  	margin: 1px auto;
}
h1{
	text-align: center;
}
h1 span{
	font-size: 48px;
}
br {
	font-family: 'Roboto', sans-serif, light;
	font-size: 20px;
}
.icon {
	width: 21%;
}
header {
	width: 100%;
}
nav {
	text-align: center;
}
nav a{
	text-decoration: none;
	color: black;
	padding: 11px 35px;
	display: block;
}
nav a:hover{
	background-color: grey;
	color: white;
}
nav ul {
	list-style: none;
}
.colourthis{
	background-color: black;
	color: white;
    padding: 1.3em 20px 0.3em;
    margin-bottom: 1em;
}
.btn {
  display: inline-block;
  padding: 0.6em 1em;
  margin: 0.8rem;
  background-color: grey;
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.3choices img{
	width: 50%;
}
.btn a:hover{
	color: black;
	background-color: white
}
.btnright {
  display: inline-block;
  padding: 0.6em 1em;
  margin: 0.8rem;
  background-color: grey;
  color: white;
  text-align: right;
  font-size: 18px;
  text-decoration: none;
}
.btnright a:hover{
	color: black;
	background-color: white
}
.meettheteam img{
	width: 50%;
	text-align: center;
	margin: 1em;
}
.whatruwaiting4btn {
  display: inline-block;
  padding: 0.6em 1em;
  margin: 0.8rem;
  background-color: grey;
  color: white;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
}
.whatruwaiting4btn a:hover{
	color: black;
	background-color: white;
}
.whatruwaiting4, .description{
	margin: 13px 9px 13px 0.5rem;
	text-align: center;
}
footer {
	text-align: center;
	padding-bottom: 3rem; 
	margin-top: 1rem;
}
footer p{
	font-size: 46px;
	margin-top: 1rem;
}
.copyright{
	font-size: 12px;
	color: grey;

}/*Accessibility*/
/*a:focus {
  outline: 3px solid;
}
.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.skip-links a {
  position: absolute;
  top: 0;
  background-color: #000;
  color: white;
  padding: 0.5em 0.75em;*/
}
/*FALALALALA MEDIA TIME */
@media only screen and (min-width: 100px) and (max-width: 100px) {
	.whatruwaiting4 {
		text-align: left;
	}
	.whatruwaiting4btn {
		text-align: right;
	}
}
@media only screen and (min-width: 100px) and (max-width: 435px) {
	.banner figcaption { 
	  	padding: 1.5rem;
	  	margin: 0 auto;
	}
	.easybanner figcaption {
		padding: 1.5rem;
		margin: 7px auto;
		font-size: 30px;
	}
}
@media only screen and (min-width: 436px){
	.banner figcaption { 
	  	padding: 1.5rem;
	  	margin: 0 auto;
	}
	.easybanner figcaption {
		padding: 1.5rem;
		margin: 7px auto;
		font-size: 30px;
	}
	header nav {
		text-align: center;
	}
	.banner figcaption{
		font-size: 15.5px;
	}
}
@media only screen and (min-width: 548px) and (max-width: 607px) {
	.icon{
		text-align: center;
		width: 25%;
	}
	nav {
		text-align: center;
	}
	nav a{
		margin: 0 30px 0 30px;
	}
	nav li {
		display: inline-block;
	}		
}
@media only screen and (min-width: 100px) and (max-width: 607px) {
	.smallimg {
		padding-top: 1em;
		width: 100%;
		display: block;
		text-align: center;
	}
	.meettheteam img{
		width: 100%;
		padding-right: 2em;
	}
	.3choices h2{
		margin: 0;
	  	padding: 0;
	  	font-size: 25px;
  		position: relative;
	}

}
@media only screen and (min-width: 608px) {
	.icon{
		text-align: left;
		margin: 15px 20px 0;
		width: 25%;
	}
	nav {
		text-align: right;
		margin-top: 15px 
	}
	nav li {
		display: inline-block;
	}		
}
@media only screen and (min-width: 690px) {
	nav {
		text-align: right;
		margin-top: 20px 
	}
	nav li {
		display: inline-block;
	}		
	nav a{
		margin: 0 30px 0 30px;
	}
}
@media only screen and (min-width: 775px) {
	.whatruwaiting4btn  {
		text-align: right;
	}
	.whatruwaiting4 h2  {
		text-align: left;
	}
}
@media only screen and (min-width: 960px) {
	.description{
		text-align: left;
	}
}
@media only screen and (min-width: 1200px){
	nav {
		margin-top: 30px;
	}
}
@media only screen and (min-width: 1600px){
	nav {
		margin-top: 50px;
	}
}
@media only screen and (min-width: 1800px){
	nav {
		margin-top: 65px;
	}
}